/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing to include padding and borders in width calculations */
}

/* Styles for the body */
body {
    font-family: Arial, sans-serif;
    background-image: url(TXTCYSM.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh; /* Change to 100vh for full viewport height */
    margin: 0;
    padding: 0;
}

/* Styles for the header */
header {
    background-color: #175a7e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Styles for the navigation menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a.active {
    /* Styles for the active link in the navigation menu */
    background-color: #ffcc00; /* Example background color */
    color: #000; /* Example text color */
    /* Add additional styles to highlight the active link */
}

/* Styles for the footer */
footer {
    background-color: #2d5e89;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.info-section {
    background-color: rgba(75, 155, 229, 0.894);
    padding: 25px;
    text-align: center;
}

.info-section p {
    color: #333;
    font-size: 20px;
    text-align: center;
}

.info-section h2 {
    text-align: center;
}

.info-section figure {
    max-width: 100%;
    margin: 0 auto;
}

.table-container {
    height: 50vh; /* Adjust the height as needed */
    overflow-y: scroll; /* Enable vertical scrolling when content overflows */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add margin at the top of the table */
}

th, td {
    border: 1px solid #f9f9f9;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #7cabecdb;
}

caption {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
